/* ==UserStyle==
@name           schelling.pt - 11/24/2022, 6:55:39 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("schelling.pt") {
    /* Insert code here... */
    body{
        background: url("https://wallpapercave.com/wp/X9cUy04.jpg");
    }
    .search__input {
  background-color: #343f51;
}

.search-results {
  background-color: #182a3c;
}

.landing-page__forms, .public-layout .header,
.public-layout .footer {
     background-color:#243d63;
}

.landing-page__call-to-action, .detailed-status {
  background-color:#213759;
}

.public-layout {
  margin-top: -10px;
}

.public-layout .header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.public-layout .footer {
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ui, .landing-page, .public-layout {
  background-image: url("https://example.org/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.account__section-headline, .column-header__back-button {
  background-color: #1b2a45 !important;
}

.status-link {
  color: #73a9d1 !important;
}
    .a, p, h1, h2, h3, h4, h5, h6 {
        color: pink;
    }

.account__header > div {
  background: rgba(27, 42, 69, 0.9);
}

.account__header .account__header__fields dt, .public-account-bio .account__header__fields dt,
.column-header, .column-header__button, .column-back-button, .hero-widget__text, .status.status-direct:not(.read) {
  background-color: #08152b;
}

.account__header .account__header__fields dd,
.public-account-bio .account__header__fields dd,
.drawer__inner, .drawer__inner__mastodon {
  background-color: rgba(27, 42, 69, 0.9);
}
    .columns-area__panels__pane__inner {
        background-color: limegreen;
        border-style: solid;
        border-width: 5px;
    }

.column {
  background-color: transparent;
  opacity: 0.95;
}

article, .status-public, .activity-stream .entry, .column > .scrollable,
  .drawer__header, .landing-page__information {
  background-color: #0b1d3a;
}

.column-link {
  color:#8ba9c7;
  background-color:#1e2a3e;
}

.column-link:hover {
  background-color: rgba(27, 42, 69, 0.9);
}

.status-reply {
  background-color: #071a3a;
}

.detailed-status__action-bar {
  background-color:#1c2d49;
}

.getting-started, .public-layout .public-account-bio {
  background-color: #002b55;
}

.column-subheading, .search-results__header, .search-results__section h5 {
  background-color: #002549;
  color: #7398bc;
}

.drawer__inner, .drawer__inner__mastodon {
  opacity: 0.95;
}

.drawer__inner__mastodon {
  background-image: url("https://example.org/logo.png");
  background-size: contain;
}

.drawer__inner__mastodon img {
   display: none;
}
}
