/* ==UserStyle==
@name           schelling.pt - 11/24/2022, 6:55:39 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("schelling.pt") {
    /* Insert code here... */
    body{
        background: url("https://cdn.discordapp.com/attachments/1004229658662932560/1045797375274393760/starryNight.png");
        
        
    }
    .autosuggest-textarea__suggestions , .compose-form__buttons, .compose-form__buttons-wrapper  {
        background-color:#ececec;
    }
    .search__input {
  background-color: #343f51;
}

.search-results {
  background-color: #182a3c;
}

.landing-page__forms, .public-layout .header,
.public-layout .footer {
     background-color:#243d63;
}

.landing-page__call-to-action, .detailed-status {
  background-color:#213759;
}

.public-layout {
  margin-top: -10px;
}

.public-layout .header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.public-layout .footer {
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ui, .landing-page, .public-layout {
  background-image: url("https://example.org/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.account__section-headline, .column-header__back-button {
  background-color: #003771 !important;
}

.status-link {
  color: #28ffff !important;
}
    .a, p, h1, h2, h3, h4, h5, h6, i, b {
        color: #fff;
    }
.account__section-headline, span {
       color: #fff;
     text-shadow: 0 0 2.5px #000, 0 0 5px #000, 0 0 5px #96e4ff, 0 0 7px #96e4ff, 0 0 10px #96e4ff, 0 0 12px #96e4ff, 0 0 10px #96e4ff; 
    }
.account__header > div {
  background: rgba(27, 42, 69, 0.9);
}

.account__header .account__header__fields dt, .public-account-bio .account__header__fields dt,
.column-header, .column-header__button, .column-back-button, .hero-widget__text, .status.status-direct:not(.read) {
  background-color: #08152b;
}
    .status__wrapper, .item-list, .scrollable, .columns-area, .columns-area--mobile, .column, article {
        background-color: #c2c5ca94;
    }
.account__header .account__header__fields dd,
.public-account-bio .account__header__fields dd,
.drawer__inner, .drawer__inner__mastodon {
  background-color: rgba(27, 42, 69, 0.1);
}
    /* Important, the LHS, RHS columns */
    .columns-area__panels__pane__inner {
        background-color: #0c0d0c8f;
        border-style: solid;
        border-width: 5px;
    }

.column {
  background-color: transparent;
  opacity: 0.95;
}

article, .status-public, .activity-stream .entry, .column > .scrollable,
  .drawer__header, .landing-page__information {
  background-color: #6b6d6f40;
}

    /*Some right hand side stuff */
.column-link {
  /*color:#8ba9c7; */
     color: #fff;
     text-shadow: 0 0 2.5px #000, 0 0 5px #000, 0 0 10px #96e4ff, 0 0 15px #96e4ff, 0 0 20px #96e4ff, 0 0 27px #96e4ff, 0 0 43px #96e4ff;
  background-color:#e8fb5800;
   
}

.display-name__html, strong {
        color:#fff
    }
.column-link:hover {
  background-color: rgba(160, 195, 198, .55);
}

.status-reply {
  background-color: #6b6d6f40; /*default so to speak: #071a3a | this handles any weird prt of federated timeline, etc that isnt got by */
}

.detailed-status__action-bar {
  background-color:#1c2d49;
}

.getting-started, .public-layout .public-account-bio {
  background-color: #002b55;
}

.column-subheading, .search-results__header, .search-results__section h5 {
  background-color: #002549;
  color: #7398bc;
}

.drawer__inner, .drawer__inner__mastodon {
  opacity: 0.95;
}

.drawer__inner__mastodon {
  background-image: url("https://example.org/logo.png");
  background-size: contain;
}

.drawer__inner__mastodon img {
   display: none;
}
}
